html, body {
    margin: 0;
}

header {
    width: 100%;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size:auto;
    
}

main {
    margin: 1%;
}

header img {
    width: 15%;
    margin-top: 25px;
}

.author {
    font-style: normal;
}

address > span {
    color:#4ab9e9;
}

